{% extends "layout.html" %}

{% block link %}
    <link href="/static/portfolio.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        {% for stock in stocks_count %}
        <tr>
            <td>{{ stock['ticker'] }}</td>
            <td>{{ stock['company_name'] }}</td>
            <td>{{ stock['num_shares'] }}</td>
            <td>{{ '$' + stock['price'] }}</td>
            <td>{{stock['total'] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td colspan="3"></td>
            <td>{{ cash }}</td>
        </tr>

        <tr>
            <td colspan="4"></td>
            <td>{{ total }}</td>
        </tr>
    </table>
{% endblock %}